<div>
  <h1>Hi {{ userName }}</h1>
  <button class="btn btn-primary" (click)="toggleImage()">{{ toggleText }}</button>
  <input [(ngModel)]='listFilter' type="text" value="cart">
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Release date</td>
      <td>Description</td>
      <td>Price</td>
      <td></td>
      <td *ngIf="isShop()"></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of product$ | async | productFilter:listFilter">
      <td><a [routerLink]="['product/' + product.id]">{{ product.productName }}</a></td>
      <td>{{ product.productCode }}</td>
      <td>{{ product.releaseDate | date }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | formatToPrice}}</td>
      <td><img width="50px" [src]='product.imageUrl' *ngIf="getDisplayImg()"></td>
      <td *ngIf="isShop()">
        <button *ngIf="product.stock > 0; else noStockTemplate" id="addProduct" class="btn btn-success btn-sm" (click)="addProduct(product)">Add</button>
        <button *ngIf="isInCart(product.id)" id="removeProduct" class="btn btn-danger btn-sm" (click)="removeProduct(product)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #noStockTemplate>
    <p>will be back soon</p>
  </ng-template>
  <button *ngIf="!isShop()" class="btn btn-primary" (click)="enableShoppingMode()">Shopping</button>
</div>

<div *ngIf="isShop()" class="shop">
  <app-cart-detail [productAction]="productAction"
                   [userName]="userName"
                   (onShoppingModeEnded)="onShoppingModeEnded()"></app-cart-detail>
</div>
<alert></alert>

