<div>
  <h1>Home</h1>
  <button class="btn btn-primary" (click)="toggleImage()">{{ toggleText }}</button>
  <input [(ngModel)]='listFilter' type="text" value="cart">
  <!--<p>{{ listFilter | reverse }}</p>-->
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Release date</td>
      <td>Description</td>
      <td>Price</td>
      <td></td>
      <!--<td>StartRating</td>-->
      <td *ngIf="isShop()"></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of product$ | async | productFilter:listFilter">
      <td><a [routerLink]="['product/' + product.id]">{{ product.productName }}</a></td>
      <td>{{ product.productCode }}</td>
      <td>{{ product.releaseDate | date }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <!--<td>-->
        <!--<app-star-rating [rating]="product.starRating" (ratingClicked)="product.starRating = $event">-->

        <!--</app-star-rating>-->
      <!--</td>-->
      <td><img width="50px" [src]='product.imageUrl' *ngIf="getDisplayImg()"></td>
      <td *ngIf="isShop()">

        <button class="btn btn-success btn-sm" (click)="addProduct(product.id)">Add</button>
        <button class="btn btn-danger btn-sm" (click)="removeProduct(product.id)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="toggleMode()">Shopping</button>
</div>
<div *ngIf="isShop()">
  <p>Shopping Cart</p>
  <div *ngIf="cart$ | async; let cart; else noCartTemplate">
  <p>User Name: {{cart.userName}}</p>
  <p>Status: {{cart.status}}</p>
  <p>Products:</p>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Price</td>
      <td>Description</td>
    </tr>
    </thead>
    <div *ngIf="(cart.products | json) != ({} | json); else noProductsInCartTemplate">
      <tbody>
      <tr *ngFor="let prod of (cart.products | objectToArray)">
        <td><a [routerLink]="['product/' + prod[0]]">{{ prod[1].productName }}</a></td>
        <td>{{ prod[1].productCode }}</td>
        <td>{{ prod[1].price }}</td>
        <td>{{ prod[1].description }}</td>
      </tr>
      </tbody>
      <button class="btn btn-primary" (click)="makeOrder(cart)">Order</button>
    </div>
    <ng-template #noProductsInCartTemplate>
      <p>Empty!!!!</p>
    </ng-template>

  </table>
  </div>
  <ng-template #noCartTemplate>
    <h4>No cart created!</h4>
  </ng-template>
</div>
