<div>
  <h1>Hi {{ userName }}</h1>
  <button class="btn btn-primary" (click)="toggleImage()">{{ toggleText }}</button>
  <input [(ngModel)]='listFilter' type="text" value="cart">
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Release date</td>
      <td>Description</td>
      <td>Price</td>
      <td></td>
      <td *ngIf="isShop()"></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of product$ | async | productFilter:listFilter">
      <td><a [routerLink]="['product/' + product.id]">{{ product.productName }}</a></td>
      <td>{{ product.productCode }}</td>
      <td>{{ product.releaseDate | date }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | formatToPrice}}</td>
      <td><img width="50px" [src]='product.imageUrl' *ngIf="getDisplayImg()"></td>
      <td *ngIf="isShop()">
        <button id="addProduct" class="btn btn-success btn-sm" (click)="addProduct(product)">Add</button>
        <button id="removeProduct" class="btn btn-danger btn-sm" (click)="removeProduct(product)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button *ngIf="!isShop()" class="btn btn-primary" (click)="enableShoppingMode()">Shopping</button>
</div>

<!--TODO: put this in another component-->
<div *ngIf="isShop()" class="shop">
  <p>Shopping Cart</p>
  <div *ngIf="cart$ | async; let cart; else noCartTemplate">
  <p>User Name: {{cart.userName}}</p>
  <p>Status: {{cart.status}}</p>
  <p>Products:</p>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Price</td>
      <td>Description</td>
      <td>Quantity</td>
    </tr>
    </thead>
      <tbody>
      <tr *ngFor="let prod of (cart.products | objectToArray)">
        <td><a [routerLink]="['product/' + prod[0]]">{{ prod[1].productName }}</a></td>
        <td>{{ prod[1].productCode }}</td>
        <td>{{ prod[1].price }}</td>
        <td>{{ prod[1].description }}</td>
        <td>{{cart.productQuantities[prod[1].id]}}</td>
      </tr>
      </tbody>
    <ng-template #noProductsInCartTemplate>
      <p>Empty!!!!</p>
    </ng-template>
  </table>
  <h2>Total price: {{cart.totalPrice | formatToPrice }}</h2>
  <button id="order" class="btn btn-primary" (click)="makeOrder(cart)">Order</button>
  <button id="cancel" class="btn btn-danger" (click)="disableShoppingMode(cart)">Cancel</button>
  </div>
</div>
<alert></alert>

