<p>Shopping Cart</p>
<div *ngIf="cart$ | async; let cart; else noCartTemplate">
  <p>User Name: {{cart.userName}}</p>
  <p>Status: {{cart.status}}</p>
  <p>Products:</p>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Price</td>
      <td>Description</td>
      <td>Quantity</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of (cart.products | objectToArray)">
      <td><a [routerLink]="['product/' + prod[0]]">{{ prod[1].productName }}</a></td>
      <td>{{ prod[1].productCode }}</td>
      <td>{{ prod[1].price | formatToPrice }}</td>
      <td>{{ prod[1].description }}</td>
      <td>{{cart.productQuantities[prod[1].id]}}</td>
    </tr>
    </tbody>
  </table>
  <ng-template #noProductsInCartTemplate>
    <p>Empty!!!!</p>
  </ng-template>
  <h2>Total price: {{cart.totalPrice | formatToPrice }}</h2>
  <button id="order" class="btn btn-primary" (click)="orderCart(cart)">Order</button>
  <button id="cancel" class="btn btn-danger" (click)="cancelCart(cart)">Cancel</button>
</div>
<ng-template #noCartTemplate>
  <p>No cart created</p>
</ng-template>
